# Pandas 6133 Тюгаев Никита Павлович

In [1]:
import pandas as pd
import numpy as np

#### 1. Считать в `pandas.DataFrame` любой источник данных: CSV, JSON, Excel-файл, HTML-таблицу и т.п.

In [2]:
features_df = pd.read_csv(r"..\..\datasets\walmart_sales_forecast_data\features.csv")

#### 2. Привести описание датасета.

##### features.csv

| Column       | Description                                                                 |
|--------------|-----------------------------------------------------------------------------|
| Store        | Store number                                                                |
| Date         | Week                                                                         |
| Temperature  | Average temperature in the region                                            |
| Fuel_Price   | Cost of fuel in the region                                                   |
| MarkDown1    | Anonymized data related to promotional markdowns that Walmart is running.    |
| MarkDown2    | Anonymized data related to promotional markdowns that Walmart is running.    |
| MarkDown3    | Anonymized data related to promotional markdowns that Walmart is running.    |
| MarkDown4    | Anonymized data related to promotional markdowns that Walmart is running.    |
| MarkDown5    | Anonymized data related to promotional markdowns that Walmart is running.    |
| CPI          | The consumer price index                                                     |
| Unemployment | The unemployment rate                                                        |
| IsHoliday    | Whether the week is a special holiday week                                   |

##### stores.csv

| Column | Description                                      |
|--------|--------------------------------------------------|
| Store  | Stores numbered from 1 to 45                     |
| Type   | Store type has been provided, there are 3 types — A, B and C. |
| Size   | Stores size has provided                         |

##### test.csv

| Column    | Description                              |
|-----------|------------------------------------------|
| Store     | The store number                          |
| Dept      | The department number                     |
| Date      | The week                                  |
| IsHoliday | Whether the week is a special holiday week|

##### train.csv

| Column       | Description                                               |
|--------------|-----------------------------------------------------------|
| Store        | The store number                                          |
| Dept         | The department number                                     |
| Date         | The week                                                  |
| Weekly_Sales | Sales for the given department in the given store         |
| IsHoliday    | Whether the week is a special holiday week                |

#### 3. Выполнить над датафреймом следующие операции:  
   - `.head()`.
   - `.describe()`.
   - Считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки).
   - Фильтрация строк по диапазону индекса.
   - Фильтрация набора данных по какому-либо условию.
   - Работа с пропущенными значениями:
      + удаление строк с пропущенными значениями;
      + заполнение пропущенных значений средним значением по колонке.  
     > Если пропущенных значений нет - намеренно их сгенерировать, прибить какие-то куски данных в `np.nan`.
   - Создание нового поля, вычисленного на основе значений других полей:
      + через выражение на базе имеющихся колонок;
      + через `DataFrame.apply`;
      + через `Series.apply`.
   - Сортировка по какому-либо из полей.
   - Вычисление нескольких статистик по колонкам (использовать встроенные агрегатные функции - любые на выбор).
   - Вывод по какому-либо полю / набору полей числа значений с использованием `.value_counts()`.
   - Вывод уникальных значений какой-либо колонки с использованием `.unique()`.
   - Удаление текущего индекса, и создание нового индекса на базе новой колонки, которая для этого лучше всего подходит - см. 
[reset_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html) и 
[set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html).

##### `.head()`

In [3]:
features_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

##### `.describe()`

In [4]:
features_df.describe()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,8190.000000,8190.000000,8190.000000,4032.000000,2921.000000,3613.000000,3464.000000,4050.000000,7605.000000,7605.000000
mean,23.000000,59.356198,3.405992,7032.371786,3384.176594,1760.100180,3292.935886,4132.216422,172.460809,7.826821
std,12.987966,18.678607,0.431337,9262.747448,8793.583016,11276.462208,6792.329861,13086.690278,39.738346,1.877259
min,1.000000,-7.290000,2.472000,-2781.450000,-265.760000,-179.260000,0.220000,-185.170000,126.064000,3.684000
25%,12.000000,45.902500,3.041000,1577.532500,68.880000,6.600000,304.687500,1440.827500,132.364839,6.634000
50%,23.000000,60.710000,3.513000,4743.580000,364.570000,36.260000,1176.425000,2727.135000,182.764003,7.806000
75%,34.000000,73.880000,3.743000,8923.310000,2153.350000,163.150000,3310.007500,4832.555000,213.932412,8.567000
max,45.000000,101.950000,4.468000,103184.980000,104519.540000,149483.310000,67474.850000,771448.100000,228.976456,14.313000

##### Считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки).

In [5]:
features_df.loc[15, "Fuel_Price"]

2.826

##### Фильтрация строк по диапазону индекса

In [6]:
features_df.loc[14:106]

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
14,1,2010-05-14,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808,False
15,1,2010-05-21,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808,False
16,1,2010-05-28,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808,False
17,1,2010-06-04,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808,False
18,1,2010-06-11,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808,False
...,...,...,...,...,...,...,...,...,...,...,...,...
102,1,2012-01-20,54.11,3.268,4139.87,2807.19,33.88,500.62,3400.21,219.985689,7.348,False
103,1,2012-01-27,54.26,3.290,1164.46,1082.74,44.00,11.00,1222.19,220.078852,7.348,False
104,1,2012-02-03,56.55,3.360,34577.06,3579.21,160.53,32403.87,5630.40,220.172015,7.348,False
105,1,2012-02-10,48.02,3.409,13925.06,6927.23,101.64,8471.88,6886.04,220.265178,7.348,True
106,1,2012-02-17,45.32,3.510,9873.33,11062.27,9.80,8409.31,3402.66,220.425759,7.348,False

##### Работа с пропущенными значениями

###### Удаление строк с пропущенными значениями

In [7]:
features_df.dropna(axis=0, how="any").head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
92,1,2011-11-11,59.11,3.297,10382.90,6115.67,215.07,2406.62,6551.42,217.998085,7.866,False
93,1,2011-11-18,62.25,3.308,6074.12,254.39,51.98,427.39,5988.57,218.220509,7.866,False
94,1,2011-11-25,60.14,3.236,410.31,98.00,55805.51,8.00,554.92,218.467621,7.866,True
95,1,2011-12-02,48.91,3.172,5629.51,68.00,1398.11,2084.64,20475.32,218.714733,7.866,False
96,1,2011-12-09,43.93,3.158,4640.65,19.00,105.02,3639.42,14461.82,218.961846,7.866,False

###### Заполнение пропущенных значений средним значением по колонке

In [8]:
numeric_columns = features_df.select_dtypes(include=["int64", "float64"]).columns

features_df[numeric_columns] = features_df[numeric_columns].fillna(
    features_df[numeric_columns].mean()
)
features_df[numeric_columns].head()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,42.31,2.572,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,211.096358,8.106
1,1,38.51,2.548,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,211.242170,8.106
2,1,39.93,2.514,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,211.289143,8.106
3,1,46.63,2.561,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,211.319643,8.106
4,1,46.50,2.625,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,211.350143,8.106

##### Создание нового поля, вычисленного на основе значений других полей:

###### через выражение на базе имеющихся колонок

In [9]:
features_df["total_markdown"] = (
    features_df["MarkDown1"]
    + features_df["MarkDown2"]
    + features_df["MarkDown3"]
    + features_df["MarkDown4"]
    + features_df["MarkDown5"]
)

features_df["total_markdown"].head()

0    19601.800868
1    19601.800868
2    19601.800868
3    19601.800868
4    19601.800868
Name: total_markdown, dtype: float64

###### через `DataFrame.apply`

In [10]:
features_df["is_high_temp"] = features_df.apply(lambda x: x["Temperature"] > 60, axis=1)
features_df["is_high_temp"].head()

0    False
1    False
2    False
3    False
4    False
Name: is_high_temp, dtype: bool

###### через `Series.apply`

In [11]:
features_df["temp_celsius"] = features_df["Temperature"].apply(
    lambda x: (x - 32) * 5 / 9
)
features_df["temp_celsius"].head()

0    5.727778
1    3.616667
2    4.405556
3    8.127778
4    8.055556
Name: temp_celsius, dtype: float64

##### Сортировка по какому-либо из полей

In [12]:
features_df.sort_values("Fuel_Price", inplace=True)
features_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,total_markdown,is_high_temp,temp_celsius
6372,36,2010-02-19,45.66,2.472,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,210.045102,8.554,False,19601.800868,False,7.588889
6401,36,2010-09-10,80.58,2.513,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,210.264116,8.360,True,19601.800868,True,26.988889
5462,31,2010-02-19,39.75,2.514,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,210.945160,8.324,False,19601.800868,False,4.305556
1276,8,2010-02-19,39.10,2.514,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,214.666488,6.299,False,19601.800868,False,3.944444
184,2,2010-02-19,39.69,2.514,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,210.945160,8.324,False,19601.800868,False,4.272222

##### Вычисление нескольких статистик по колонкам

In [13]:
features_df.agg(
    {
        "Temperature": ["mean", "median", "std", "min", "max"],
        "Fuel_Price": ["mean", "std", "min", "max"],
        "CPI": ["mean", "median", "std"],
    }
)

        Temperature  Fuel_Price         CPI
mean      59.356198    3.405992  172.460809
median    60.710000         NaN  172.460809
std       18.678607    0.431337   38.292649
min       -7.290000    2.472000         NaN
max      101.950000    4.468000         NaN

##### Вывод по какому-либо полю / набору полей числа значений с использованием `.value_counts()`

In [14]:
features_df["Store"].value_counts().head()

Store
36    182
44    182
20    182
35    182
45    182
Name: count, dtype: int64

##### Вывод уникальных значений какой-либо колонки с использованием `.unique()`

In [15]:
features_df["Store"].unique()

array([36, 31,  8,  2, 39,  6, 30, 37, 21, 11,  3, 43,  9,  1,  5, 34,  4,
       16,  7, 32, 41, 13, 17, 44, 14, 20, 35, 45, 25, 29, 22, 26, 40, 18,
       23, 33, 28, 10, 42, 38, 12, 24, 27, 19, 15], dtype=int64)

##### Удаление текущего индекса, и создание нового индекса на базе новой колонки, которая для этого лучше всего подходит

In [16]:
features_df.set_index(["Store", "Date"], inplace=True)
features_df.head()

                  Temperature  Fuel_Price    MarkDown1    MarkDown2  \
Store Date
36    2010-02-19        45.66       2.472  7032.371786  3384.176594
      2010-09-10        80.58       2.513  7032.371786  3384.176594
31    2010-02-19        39.75       2.514  7032.371786  3384.176594
8     2010-02-19        39.10       2.514  7032.371786  3384.176594
2     2010-02-19        39.69       2.514  7032.371786  3384.176594

                   MarkDown3    MarkDown4    MarkDown5         CPI  \
Store Date
36    2010-02-19  1760.10018  3292.935886  4132.216422  210.045102
      2010-09-10  1760.10018  3292.935886  4132.216422  210.264116
31    2010-02-19  1760.10018  3292.935886  4132.216422  210.945160
8     2010-02-19  1760.10018  3292.935886  4132.216422  214.666488
2     2010-02-19  1760.10018  3292.935886  4132.216422  210.945160

                  Unemployment  IsHoliday  total_markdown  is_high_temp  \
Store Date
36    2010-02-19         8.554      False    19601.800868         False
      2010-09-10         8.360       True    19601.800868          True
31    2010-02-19         8.324      False    19601.800868         False
8     2010-02-19         6.299      False    19601.800868         False
2     2010-02-19         8.324      False    19601.800868         False

                  temp_celsius
Store Date
36    2010-02-19      7.588889
      2010-09-10     26.988889
31    2010-02-19      4.305556
8     2010-02-19      3.944444
2     2010-02-19      4.272222

#### 4. Продемонстрировать работу `.groupby`, на основе группировок в `groupby` вычислить агрегатные функции по одной или нескольким колонкам.

In [17]:
features_df.groupby("Store").agg(
    {"Temperature": "mean", "Fuel_Price": "mean", "CPI": "mean"}
)

       Temperature  Fuel_Price         CPI
Store
1        66.912033    3.259242  214.070903
2        66.728407    3.259242  213.743080
3        70.394176    3.259242  217.245171
4        61.416648    3.254885  132.287357
5        68.224505    3.259242  214.602675
6        68.504670    3.259242  215.526177
7        37.921264    3.294401  193.128777
8        61.180220    3.259242  217.289583
9        66.269505    3.259242  217.465064
10       71.329121    3.615648  132.287357
11       71.217308    3.259242  217.245171
12       69.251703    3.643654  132.287357
13       52.308407    3.328764  132.287357
14       56.256154    3.476412  186.238909
15       50.323242    3.643357  138.281510
16       43.382582    3.294401  193.128777
17       45.093901    3.328764  132.287357
18       51.866319    3.497874  138.281510
19       50.860330    3.643357  138.281510
20       53.886593    3.476412  207.549054
21       67.407418    3.259242  213.743080
22       53.464231    3.497874  141.941969
23       47.248242    3.497874  138.281510
24       52.510165    3.643357  138.281510
25       50.792473    3.476412  207.549054
26       42.268956    3.497874  138.281510
27       55.821813    3.643357  141.941969
28       69.251703    3.643654  132.287357
29       53.464231    3.497874  138.281510
30       67.407418    3.259242  213.743080
31       67.407418    3.259242  213.743080
32       51.223516    3.294401  193.128777
33       75.438077    3.615648  132.287357
34       58.107912    3.254885  132.287357
35       55.821813    3.476412  141.941969
36       70.232308    3.245945  212.884508
37       70.232308    3.259242  212.884508
38       69.251703    3.643654  132.287357
39       69.695385    3.259242  212.884508
40       46.167857    3.497874  138.281510
41       46.974890    3.294401  193.128777
42       71.329121    3.615648  132.287357
43       67.618297    3.259242  206.335880
44       52.308407    3.328764  132.287357
45       56.256154    3.476412  186.238909

#### 5. Решейпинг данных $1D\rightarrow2D$ с использованием `.pivot`.

In [18]:
agg_data = (
    features_df.groupby(["Store", "IsHoliday"])["Temperature"].mean().reset_index()
)

agg_data.pivot(index="Store", columns="IsHoliday", values="Temperature")

IsHoliday      False      True
Store
1          67.698757  56.684615
2          67.540178  56.175385
3          71.045089  61.932308
4          62.365858  49.076923
5          68.970118  58.531538
6          69.243136  58.904615
7          38.884793  25.395385
8          62.132308  48.803077
9          67.145207  54.885385
10         72.086627  61.481538
11         71.857160  62.899231
12         70.086686  58.396923
13         53.183491  40.932308
14         57.131302  44.879231
15         51.197101  38.963077
16         44.289586  31.591538
17         46.045562  32.722308
18         52.754970  40.313846
19         51.693550  40.028462
20         54.777633  42.303077
21         68.238639  56.601538
22         54.244083  43.326154
23         48.250710  34.216154
24         53.412899  40.774615
25         51.676391  39.301538
26         43.147337  30.850000
27         56.649704  45.059231
28         70.086686  58.396923
29         54.244083  43.326154
30         68.238639  56.601538
31         68.238639  56.601538
32         52.168757  38.935385
33         76.225562  65.200769
34         59.040059  45.990000
35         56.649704  45.059231
36         70.907574  61.453846
37         70.907574  61.453846
38         70.086686  58.396923
39         70.378521  60.814615
40         47.193077  32.840000
41         47.824260  35.933077
42         72.086627  61.481538
43         68.430414  57.060769
44         53.183491  40.932308
45         57.131302  44.879231

#### 6. Решейпинг $1D\rightarrow2D$ данных, соединённых с группировкой / агрегацией (одним словом - сводная таблица): `.pivot_table`. Группировать только по категориальным полям или числовым, если значений немного.

In [19]:
features_df.pivot_table(
    values="Temperature", index="Store", columns="IsHoliday", aggfunc="mean"
)

IsHoliday      False      True
Store
1          67.698757  56.684615
2          67.540178  56.175385
3          71.045089  61.932308
4          62.365858  49.076923
5          68.970118  58.531538
6          69.243136  58.904615
7          38.884793  25.395385
8          62.132308  48.803077
9          67.145207  54.885385
10         72.086627  61.481538
11         71.857160  62.899231
12         70.086686  58.396923
13         53.183491  40.932308
14         57.131302  44.879231
15         51.197101  38.963077
16         44.289586  31.591538
17         46.045562  32.722308
18         52.754970  40.313846
19         51.693550  40.028462
20         54.777633  42.303077
21         68.238639  56.601538
22         54.244083  43.326154
23         48.250710  34.216154
24         53.412899  40.774615
25         51.676391  39.301538
26         43.147337  30.850000
27         56.649704  45.059231
28         70.086686  58.396923
29         54.244083  43.326154
30         68.238639  56.601538
31         68.238639  56.601538
32         52.168757  38.935385
33         76.225562  65.200769
34         59.040059  45.990000
35         56.649704  45.059231
36         70.907574  61.453846
37         70.907574  61.453846
38         70.086686  58.396923
39         70.378521  60.814615
40         47.193077  32.840000
41         47.824260  35.933077
42         72.086627  61.481538
43         68.430414  57.060769
44         53.183491  40.932308
45         57.131302  44.879231

#### 7. Вычислить квантили распределения какого-либо вещественного признака (с использованием `numpy.quantile` или `numpy.percentile`).

In [20]:
np.quantile(features_df["Temperature"], q=[0, 0.25, 0.5, 0.75, 1.0])

array([ -7.29  ,  45.9025,  60.71  ,  73.88  , 101.95  ])

#### 8. Вычислить (в виде текста) гистограмму какого-либо вещественного признака (с использованием `numpy.histogram`).

In [21]:
np.histogram(features_df["Temperature"], bins=10, range=(0, 100))

(array([  13,  112,  452,  831, 1159, 1430, 1525, 1423, 1029,  207],
       dtype=int64),
 array([  0.,  10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.]))

#### 9. Проитерировать `DataFrame` построчно `.iterrows()` и выполнить какую-либо операцию внутри цикла.

In [22]:
store_hot_days = {}
for index, row in features_df.iterrows():
    store = index[0]
    if row["Temperature"] > 80:
        store_hot_days[store] = store_hot_days.get(store, 0) + 1

store_hot_days

{36: 57,
 11: 57,
 37: 57,
 3: 57,
 43: 51,
 5: 50,
 31: 51,
 6: 52,
 1: 44,
 9: 44,
 2: 48,
 30: 51,
 21: 51,
 39: 55,
 8: 27,
 4: 28,
 34: 10,
 35: 6,
 45: 6,
 14: 6,
 44: 11,
 13: 11,
 27: 6,
 33: 77,
 10: 67,
 42: 67,
 28: 63,
 12: 63,
 38: 63,
 32: 1,
 18: 1,
 22: 1,
 29: 1,
 24: 1}

#### 10. Получить `DataFrame` с `MultiIndex` любым способом: через конструктор (в документации есть множество видов конструкторов для создания `MultiIndex` с нуля), через `read_sql` / `read_csv` / `read_excel`, `read_*`, через `pivot_table`, через `groupby` или иными способами.  
    - Переставить местами уровни индекса.
    - Транспонировать таблицу (или создать новую другую) с `MultiIndex`.
    - Удалить один из уровней индекса или добавить новый уровень индекса (можно инициализированный константой) - см. документацию.

##### Переставить местами уровни индекса

In [23]:
features_df.swaplevel(0, 1).head()

                  Temperature  Fuel_Price    MarkDown1    MarkDown2  \
Date       Store
2010-02-19 36           45.66       2.472  7032.371786  3384.176594
2010-09-10 36           80.58       2.513  7032.371786  3384.176594
2010-02-19 31           39.75       2.514  7032.371786  3384.176594
           8            39.10       2.514  7032.371786  3384.176594
           2            39.69       2.514  7032.371786  3384.176594

                   MarkDown3    MarkDown4    MarkDown5         CPI  \
Date       Store
2010-02-19 36     1760.10018  3292.935886  4132.216422  210.045102
2010-09-10 36     1760.10018  3292.935886  4132.216422  210.264116
2010-02-19 31     1760.10018  3292.935886  4132.216422  210.945160
           8      1760.10018  3292.935886  4132.216422  214.666488
           2      1760.10018  3292.935886  4132.216422  210.945160

                  Unemployment  IsHoliday  total_markdown  is_high_temp  \
Date       Store
2010-02-19 36            8.554      False    19601.800868         False
2010-09-10 36            8.360       True    19601.800868          True
2010-02-19 31            8.324      False    19601.800868         False
           8             6.299      False    19601.800868         False
           2             8.324      False    19601.800868         False

                  temp_celsius
Date       Store
2010-02-19 36         7.588889
2010-09-10 36        26.988889
2010-02-19 31         4.305556
           8          3.944444
           2          4.272222

##### Транспонировать таблицу (или создать новую другую) с `MultiIndex`

In [24]:
agg_data = (
    features_df.groupby(["Store", "IsHoliday"])
    .agg({"Temperature": ["mean", "max"], "Fuel_Price": ["mean", "min"]})
    .round(2)
)

# Транспонируем таблицу
transposed_df = agg_data.T
transposed_df

Store                1             2             3             4          \
IsHoliday         False  True   False  True   False  True   False  True
Temperature mean  67.70  56.68  67.54  56.18  71.05  61.93  62.37  49.08
            max   91.65  83.96  93.34  87.65  89.12  84.99  86.29  82.09
Fuel_Price  mean   3.27   3.12   3.27   3.12   3.27   3.12   3.26   3.13
            min    2.51   2.55   2.51   2.55   2.51   2.55   2.54   2.57

Store                5          ...     41            42            43         \
IsHoliday         False  True   ...  False  True   False  True   False  True
Temperature mean  68.97  58.53  ...  47.82  35.93  72.09  61.48  68.43  57.06
            max   91.07  86.30  ...  76.54  67.41  95.36  89.06  91.36  84.99
Fuel_Price  mean   3.27   3.12  ...   3.31   3.12   3.63   3.49   3.27   3.12
            min    2.51   2.55  ...   2.55   2.57   2.82   2.83   2.51   2.55

Store                44            45
IsHoliday         False  True   False  True
Temperature mean  53.18  40.93  57.13  44.88
            max   85.58  70.65  82.99  75.70
Fuel_Price  mean   3.34   3.17   3.48   3.40
            min    2.65   2.67   2.71   2.70

[4 rows x 90 columns]

##### Удалить один из уровней индекса или добавить новый уровень индекса

In [25]:
features_df.set_index("IsHoliday", append=True)

                            Temperature  Fuel_Price    MarkDown1    MarkDown2  \
Store Date       IsHoliday
36    2010-02-19 False            45.66       2.472  7032.371786  3384.176594
      2010-09-10 True             80.58       2.513  7032.371786  3384.176594
31    2010-02-19 False            39.75       2.514  7032.371786  3384.176594
8     2010-02-19 False            39.10       2.514  7032.371786  3384.176594
2     2010-02-19 False            39.69       2.514  7032.371786  3384.176594
...                                 ...         ...          ...          ...
38    2012-10-12 False            71.74       4.468   202.430000  3384.176594
42    2012-10-12 False            76.03       4.468    49.380000  3384.176594
33    2012-10-12 False            79.64       4.468    33.230000  3384.176594
10    2012-10-12 False            76.03       4.468  2674.510000  3384.176594
12    2012-10-12 False            71.74       4.468  1986.920000  3384.176594

                             MarkDown3    MarkDown4    MarkDown5         CPI  \
Store Date       IsHoliday
36    2010-02-19 False      1760.10018  3292.935886  4132.216422  210.045102
      2010-09-10 True       1760.10018  3292.935886  4132.216422  210.264116
31    2010-02-19 False      1760.10018  3292.935886  4132.216422  210.945160
8     2010-02-19 False      1760.10018  3292.935886  4132.216422  214.666488
2     2010-02-19 False      1760.10018  3292.935886  4132.216422  210.945160
...                                ...          ...          ...         ...
38    2012-10-12 False         8.66000     0.220000   700.920000  131.108333
42    2012-10-12 False        10.87000  3292.935886   970.720000  131.108333
33    2012-10-12 False      1760.10018  3292.935886   590.430000  131.108333
10    2012-10-12 False        10.32000  1390.150000  8116.130000  131.108333
12    2012-10-12 False        16.75000   910.500000  4225.200000  131.108333

                            Unemployment  total_markdown  is_high_temp  \
Store Date       IsHoliday
36    2010-02-19 False             8.554    19601.800868         False
      2010-09-10 True              8.360    19601.800868          True
31    2010-02-19 False             8.324    19601.800868         False
8     2010-02-19 False             6.299    19601.800868         False
2     2010-02-19 False             8.324    19601.800868         False
...                                  ...             ...           ...
38    2012-10-12 False            10.199     4296.406594          True
42    2012-10-12 False             6.943     7708.082480          True
33    2012-10-12 False             6.895     9060.872660          True
10    2012-10-12 False             6.943    15575.286594          True
12    2012-10-12 False            10.199    10523.546594          True

                            temp_celsius
Store Date       IsHoliday
36    2010-02-19 False          7.588889
      2010-09-10 True          26.988889
31    2010-02-19 False          4.305556
8     2010-02-19 False          3.944444
2     2010-02-19 False          4.272222
...                                  ...
38    2012-10-12 False         22.077778
42    2012-10-12 False         24.461111
33    2012-10-12 False         26.466667
10    2012-10-12 False         24.461111
12    2012-10-12 False         22.077778

[8190 rows x 12 columns]

#### 11. Продемонстировать работу `.merge`.

In [26]:
features_df.merge(
    pd.read_csv(r"..\..\datasets\walmart_sales_forecast_data\stores.csv"), on="Store"
)

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,total_markdown,is_high_temp,temp_celsius,Type,Size
0,36,45.66,2.472,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,210.045102,8.554,False,19601.800868,False,7.588889,A,39910
1,36,80.58,2.513,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,210.264116,8.360,True,19601.800868,True,26.988889,A,39910
2,31,39.75,2.514,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,210.945160,8.324,False,19601.800868,False,4.305556,A,203750
3,8,39.10,2.514,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,214.666488,6.299,False,19601.800868,False,3.944444,A,155078
4,2,39.69,2.514,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,210.945160,8.324,False,19601.800868,False,4.272222,A,202307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8185,38,71.74,4.468,202.430000,3384.176594,8.66000,0.220000,700.920000,131.108333,10.199,False,4296.406594,True,22.077778,C,39690
8186,42,76.03,4.468,49.380000,3384.176594,10.87000,3292.935886,970.720000,131.108333,6.943,False,7708.082480,True,24.461111,C,39690
8187,33,79.64,4.468,33.230000,3384.176594,1760.10018,3292.935886,590.430000,131.108333,6.895,False,9060.872660,True,26.466667,A,39690
8188,10,76.03,4.468,2674.510000,3384.176594,10.32000,1390.150000,8116.130000,131.108333,6.943,False,15575.286594,True,24.461111,B,126512
8189,12,71.74,4.468,1986.920000,3384.176594,16.75000,910.500000,4225.200000,131.108333,10.199,False,10523.546594,True,22.077778,B,112238

#### 12. Продемонстрировать работу с `.concat` или `append`.

##### `.concat` (`.append` is deprecated since version 1.4.0)

In [27]:
df1 = features_df.iloc[:100]
df2 = features_df.iloc[100:200]

pd.concat([df1, df2], axis=0).head()

                  Temperature  Fuel_Price    MarkDown1    MarkDown2  \
Store Date
36    2010-02-19        45.66       2.472  7032.371786  3384.176594
      2010-09-10        80.58       2.513  7032.371786  3384.176594
31    2010-02-19        39.75       2.514  7032.371786  3384.176594
8     2010-02-19        39.10       2.514  7032.371786  3384.176594
2     2010-02-19        39.69       2.514  7032.371786  3384.176594

                   MarkDown3    MarkDown4    MarkDown5         CPI  \
Store Date
36    2010-02-19  1760.10018  3292.935886  4132.216422  210.045102
      2010-09-10  1760.10018  3292.935886  4132.216422  210.264116
31    2010-02-19  1760.10018  3292.935886  4132.216422  210.945160
8     2010-02-19  1760.10018  3292.935886  4132.216422  214.666488
2     2010-02-19  1760.10018  3292.935886  4132.216422  210.945160

                  Unemployment  IsHoliday  total_markdown  is_high_temp  \
Store Date
36    2010-02-19         8.554      False    19601.800868         False
      2010-09-10         8.360       True    19601.800868          True
31    2010-02-19         8.324      False    19601.800868         False
8     2010-02-19         6.299      False    19601.800868         False
2     2010-02-19         8.324      False    19601.800868         False

                  temp_celsius
Store Date
36    2010-02-19      7.588889
      2010-09-10     26.988889
31    2010-02-19      4.305556
8     2010-02-19      3.944444
2     2010-02-19      4.272222